{% extends'layout.html' %}

{% block body %}
<div class="container">
  <form method="POST" action="{{ url_for('update')}}">
    <div class="form-group">
    </br></br></br></br>
      
      <input type="id1" class="form-control" name="id1" placeholder="Enter the ID you want to replace"><br>
      

      </br></br>
      
      <input type="id2" class="form-control" name="id2" placeholder="ID"><br>
      <input type="title" class="form-control" name="title" placeholder="Title"><br>
      
      
      <input type="description" class="form-control" name="description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-default" name="submit">Submit</button>
  </form>
</div>



{% endblock %}
